//nextflow run [name].nf -profile test_run
//nextflow config -profile test_run --> 
//will show params for the specified run

params {
    batch = "/_run"
    csvSRA = "./input_files/SRA_test.csv"
    genes = "./input_files/genes_of_interest.csv"
    annotations_file_link = "https://ftp.ensembl.org/pub/release-115/gtf/homo_sapiens/Homo_sapiens.GRCh38.115.gtf.gz"
    checksum_annotations = "https://ftp.ensembl.org/pub/release-115/gtf/homo_sapiens/CHECKSUMS"
    refGenome_file_link = "https://ftp.ensembl.org/pub/release-115/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
    checksum_genome = "https://ftp.ensembl.org/pub/release-115/fasta/homo_sapiens/dna/CHECKSUMS"
    refGenome_regex = "(\\d|X|Y) dna:chromosome"
    refGenome_indexed = "./input_files/indexed" //Not included, but
    //It should be index from previous runs if that is a possibility
    //Otherwise, the name of the inde may not match, and pipeline will fail

    //FAQ:  What is the point of refgenome regex?
    //Ans:  You can specify which regions are your genes from
    //      Therefore, reference index can be build only on specific chromosome
    //      and that speeds up the alignment by a lot
}

process {
    maxForks = 4 
}

profiles {
    test_run {
        params.batch = "/test_run"
    }
    default_run {
        params.batch = ""
        params.csvSRA = "./input_files/SRA.csv"     //5 Nueroblastoma accessions, MKRN2 knockout
        params.genes = "./input_files/genes.csv"    //5 genes responsible for pigmentation
    }
}

report {
    enabled = true
    overwrite = true
    file = "dag/${params.batch}/report.html"
}

dag {
    enable = true
    overwrite = true
    file = "dag/${params.batch}/dag.dot"
}

resume = true
// cleanup = true
scratch = true
conda.enabled = true
docker.enabled = false

outputDir = "results${params.batch}"
