//nextflow run [name].nf -profile test_run
//nextflow config -profile test_run --> 
//will show params for the specified run

params {
    batch = "/_run"
    csvSRA = "./input_files/SRA_test.csv"
    genes = "./input_files/genes_of_interest.csv"
    annotations_file_link = "https://ftp.ensembl.org/pub/release-115/gtf/homo_sapiens/Homo_sapiens.GRCh38.115.gtf.gz"
    checksum_annotations = "https://ftp.ensembl.org/pub/release-115/gtf/homo_sapiens/CHECKSUMS"
    refGenome_file_link = "https://ftp.ensembl.org/pub/release-115/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
    checksum_genome = "https://ftp.ensembl.org/pub/release-115/fasta/homo_sapiens/dna/CHECKSUMS"
    refGenome_regex = "(\\d|X|Y) dna:chromosome"
}

profiles {
    test_run {
        params.batch = "/test_run"
    }
    default_run {
        params.batch = ""
        params.csvSRA = "./input_files/SRA.csv"
        params.genes = "./input_files/genes.csv"
    }
}

report {
    enabled = true
    overwrite = true
    file = "dag/${params.batch}/report.html"
}

dag {
    enable = true
    overwrite = true
    file = "dag/${params.batch}/dag.dot"
}

resume = true
cleanup = false
conda.enabled = true
docker.enabled = false

outputDir = "results${params.batch}"
